.tableClassName {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px
}

.tableBody thead tr {
  background-color: #009879
  color: #ffffff
  text-align: left;
  font-weight: bold;
}

.tableBody tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}


.tableBody th td {
  padding: 12px 15px;
}
